/* P */
p{
    font-family: 'Source Serif Pro', serif;
    text-align: justify;
}

/* ACCORDEON BODY */
.accordion-body{
    padding: 0rem;
}

/* PLACEMENT */
.placement{
    margin-top: 4em;
    margin-bottom: 4em;
}

/* .PORTRAIT */
.portrait{
    margin-right: 2em;
}

/* BORDURE HEADER */
.borderleft1{
    border-left: 1px solid rgb(185, 228, 215); 
    height: 30em; 
    display: inline-block;
    margin-top: 0.5em;
}

/* .ARTCILE */
.article{
    padding-left: 1em;
    padding-top: 2em
}

/* H3 */
h3{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(185, 228, 215);
    text-decoration: underline;
}

/* PARAGRAPHE1 HEADER */
.paragraphe1{
    margin: 0 auto;
    width: 30em;    
}

/* PARAGRAPHE HEADER P */
.paragraphe1 p{
    text-align: left; 
}

/* BUTTON CV */
.buttoncv button{
    border-radius: 0px;
    background-color: white;
    border: 1px solid rgb(185, 228, 215);
    width: 15em;
    height: 50px;
}

button a{
    color: black;
    font-size: 1em;
}

/* CENTRER IMAGE CARROUSEL */
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* BLOC BLANC CARROUSEL */
.bloc{
    background-color: rgba(255, 255, 255, 0.8);
}

/* TITRE CARROUSEL */
h5{
    font-size: 1.5em;
    text-transform: uppercase;
    color: rgb(96, 168, 151);
    text-decoration: underline;
}

/* PARAGRAPHE CARROUSEL */
.paragraphe{
    margin: 0 auto;
    width: 40em;}

/* PARAGRAPHE CARROUSEL P */
.paragraphe p{
    text-align: center;
}

/* CENTRE CONTACT */
.centrercont{
    text-align: center;
    padding-top: 1em;
}

/* CENTRE A */
.centrercont a {
    color: black;
}

/* CENTRE P */
.centrercont p{
    text-align: center;
    font-size: 2em;
}

@media (max-width: 1030px){

    /* PLACEMENT */
    .placement{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    /* PORTRAIT */
    .portrait{
        margin-right: 0em;
    }

    /* BORDURE HEADER */
    .borderleft1{
        border-top: 1px solid rgb(185, 228, 215); 
        height: 0em;
        margin: 0 auto;
        width: 10em;
        display: block;
        margin-top: 0.5em;
    }

    /* PORTRAIT IMG */
    .portrait img{
        height: 10em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* H3 */
    h3{
        font-size: 1em;
        text-align: center;
    }

    /* .ARTCILE */
    .article{
        padding-left: 0em;
        padding-top: 1em
    }

    /* PARAGRAPHE1 */
    .paragraphe1{
        width: 15em;
    }

    /* PARAGRAPHE1 P */
    .paragraphe1 p {
        font-size: 0.5em;
        text-align: center;
    }

    /* BUTTON CV */
    .buttoncv{
        text-align: center;
    }

    /* BUTTON CV */
    .buttoncv button{
    width: 15em;
    height: 30px;
    font-size: 0.5em;
    }

    /* CENTRE P */
    .centrercont p{
        font-size: 0.8em;
    }

    /* CENTRE A */
    .centrercont a {
        font-size: 0.8em;
    }

    .centrercont svg{
        width: 2em;
        height: 2em;
    }

    h5{
        font-size: 6px;
    }

    /* PARAGRAPHE CARROUSEL */
    .paragraphe{
        width: 12em;}

    /* PARAGRAPHE P */
    .paragraphe p {
        font-size: 4px;
        margin-bottom: 0em;
    }

    /* PARAGRAPHE A */
    .paragraphe a {
        font-size: 4px;
    }

    /* CARROUSEL CAPTION */
    .carousel-caption {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    /* CAROUSEL INDICATORS */
    .carousel-indicators {
        margin-bottom: 0em;
    }






}
